{% extends 'base.html' %}
{% import 'errors.html' as errors %}
{% block content %}
<div class="container">
    <div class="login-row row py-3">
        <div class="col-md-8 d-sm-none d-md-block rounded left-login-col">
            <h2>asdasd</h2>
        </div>
        <div class="col-md-4 col-sm-10">
            <div class="container border h-100 rounded-bottom">
                <h1 class="text-center text-uppercase log-reg-head p-2">SIGN IN </h1>
                <hr>
                <form action="#" class="form-horizontal">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{form.username.label}}
                        {{form.username(class='w-100 p-2',placeholder='Enter username or email...')}}
                        {{errors.reg_errors(form.username.errors)}}
                    </div>
                    <div class="form-group">
                        {{form.password.label}}
                        {{form.password(class='w-100 p-2',placeholder='Enter password...')}}
                        {{errors.reg_errors(form.password.errors)}}
                    </div>
                    <div class="btn-group">
                        {{form.submit(class='btn btn-sm btn-primary')}}
                        <a href="{{url_for('auth.register')}}" class="btn btn-sm btn-outline-primary">SIGN UP</a>
                    </div>
                    <hr>
                    <a href="#" class="nav-link">Forgot password?</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}