{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="login-row row py-3">
        <div class="col-md-8 d-sm-none d-md-block rounded left-login-col">
            <h2>asdasd</h2>
        </div>
        <div class="col-md-4 col-sm-10">
            <div class="container border h-100 rounded-bottom">
                <h1 class="text-center text-uppercase log-reg-head p-4">Login </h1><hr>
                <form action="#" class="form-horizontal">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="w-100 p-2" placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="w-100 p-2" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="w-100 p-2" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="">Confirm Password</label>
                        <input type="password" class="w-100 p-2" placeholder="Confirm Password">
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-outline-primary">SIGN UP</button>
                        <a href="#" class="btn btn-sm btn-primary">SIGN IN</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}