@font-face{
    font-family: 'BerkshireSwash-Regular';
    src: url('/static/fonts/BerkshireSwash-Regular.ttf');
}
.login-row{
    min-height: 90vh;
}
.left-login-col{
    background: url('/static/images/developer.jpg');
    background-size: cover;
    background-position: center;
}
.log-reg-head{
    font-family: 'BerkshireSwash-Regular';
}
img.avatar{
    width: 50px;
}
.pitch-card .card-body{
    background-position: center;
    background-size: cover;
}

.pitch-card .card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CodeMirror{
    min-height: auto !important;
}