{% macro display_pitches(pitches) %}
<div class="card bg-default pitch-card my-2">
    <div class="card-title border-bottom">
        <img src="{{url_for('static',filename='images/profiles/avatar.png')}}" class="avatar img-thumbnail">
        <span class="font-weight-bold">@Cephas Too</span>
        <span class="float-right small">Thu 2019</span>
    </div>
    <div class="card-body text-center">
        <div class="card-subtitle h5">TITLE</div>
        <div class="card-text text-left">
            Content Here
        </div>
    </div>
    <div class="card-footer small font-italic py-1">
        <div class="btn-group align-self-start">
            <button class="btn btn-sm btn-outline-success">
                <i class="fas fa-thumbs-up"></i>
                <span class="badge badge-light">4</span>
            </button>
            <button class="btn btn-sm btn-outline-danger">
                <i class="fas fa-thumbs-down"></i>
                <span class="badge badge-light">4</span>
            </button>
            <button class="btn btn-sm btn-outline-primary">
                <i class="fas fa-comment"></i>
                <span class="badge badge-light">4</span>
            </button>
        </div>
        <div class="rounded border-bottom mt-1">
            <span class="font-weight-bold">@cephas_ke</span> This is nice...
        </div>
    </div>
</div>
{% endmacro %}

{% macro select_tags_options(tags)%}
{% for tag in tags %}
<option value="{{tag.id}}">{{tag.name}}</option>
{% endfor %}
{% endmacro %}

{% macro tag_cards(tag_list) %}
{% for tag in tag_list %}
<div class="col-lg-3 col-md-4 col-sm-6 p-2">
    <div class="card my-1">
        <div class="card-body">
            <a href="tags/{{tag.tag}}" class="card-link">
                <div class="card-title text-capitalize h3">
                    {{tag.name}}
                </div>
                <div class="card-subtitle small text-primary font-italic">
                    #{{tag.tag}}
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}