<nav class="navbar navbar-dark bg-dark-blue navbar-expand-lg sticky-top shadow-white">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#mobiNavigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse navbar-nav" id="mobiNavigation">
        <li class="nav-item">
            <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">PROFILE</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">LINK3</a>
        </li>
    </ul>
    <ul class="nav d-flex justify-content-end flex-fill">
        <li class="nav-item border-primary border rounded">
            <a href="#" class="nav-link">LOGIN</a>
        </li>
    </ul>
</nav>