{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}

{% if tag_name==None %}
<div class="container">
    {% if current_user.is_authenticated %}
    <form action="" method='POST' class="row justify-content-center p-1 form-inline">
        {{form.name(class="form-control form-control-sm", placeholder="Add tag",required='true')}}
        {{form.csrf_token}}
        <button class="btn mx-1 btn-sm btn-outline-primary add-tag-btn">Add
            <i class="fas fa-plus-circle"></i>
        </button>
    </form>
    {% endif %}
    <h3>All Tags</h3>
    <hr>
    <div class="row justify-content-center">
        {{macro.tag_cards(tag_list)}}
    </div>
</div>

{% else %}
<div class="container">
    <h3>#{{tag_name}}</h3>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10">
            {{macro.display_pitches(pitch_list)}}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}